*{
		box-sizing: border-box;
	}
	.clean::after{
		content: "";
		clear: both;
		display: table;
	}
	[class*="col-"] {
		float: left;
		padding: 15px;
	}
	
	/* Para smartphones: */
	[class*="col-"] {
		width: 100%;
	}
	
	/* Para tablets: */
	@media only screen and (min-width: 600px) {
		.col-m-1 {width: 8.33%;}
		.col-m-2 {width: 16.66%;}
		.col-m-3 {width: 25%;}
		.col-m-4 {width: 33.33%;}
		.col-m-5 {width: 41.66%;}
		.col-m-6 {width: 50%;}
		.col-m-7 {width: 58.33%;}
		.col-m-8 {width: 66.66%;}
		.col-m-9 {width: 75%;}
		.col-m-10 {width: 83.33%;}
		.col-m-11 {width: 91.66%;}
		.col-m-12 {width: 100%;}

		.magem{
			margin-left: 5%;
		}

		aside{
			margin-left: 0%;
			margin: 2%;
		}
	}
	/* Para desktop: */
	@media only screen and (min-width: 768px) {
		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width: 33.33%;}
		.col-5 {width: 41.66%;}
		.col-6 {width: 50%;}
		.col-7 {width: 58.33%;}
		.col-8 {width: 66.66%;}
		.col-9 {width: 75%;}
		.col-10 {width: 83.33%;}
		.col-11 {width: 91.66%;}
		.col-12 {width: 100%;}

		.magem {
			margin-left: 4%;
		}
		aside{
			margin-left: 4%;
		}
	}
	

	@media only screen and (min-width: 1024px) {
		.col-x-1 {width: 8.33%;}
		.col-x-2 {width: 16.66%;}
		.col-x-3 {width: 25%;}
		.col-x-4 {width: 33.33%;}
		.col-x-5 {width: 41.66%;}
		.col-x-6 {width: 50%;}
		.col-x-7 {width: 58.33%;}
		.col-x-8 {width: 66.66%;}
		.col-x-9 {width: 75%;}
		.col-x-10 {width: 83.33%;}
		.col-x-11 {width: 91.66%;}
		.col-x-12 {width: 100%;}

		.magem {
			margin-left: 4%;
		}

		aside{
			margin-left: 3%;
		}
	}

	@media only screen and (min-width: 1024px){
		.menuflex{
			display: flex;
			background-color: #feffce;
		}
		.elementos{
			flex-flow: row wrap;
		}

		picture>img {
			width: 50%; 
			height: 100%;
		}
	}

	@media only screen and (min-width: 768px){
		.menuflex{
			display: flex;
			background-color: #feffce;
		}
		.elementos{
			flex-flow: row wrap;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
		}
		
		picture > img {
			width: 50%; 
			height: 100%;
		}
	}

	@media only screen and (min-width: 60px){
		.menuflex{
			display: flex;
			background-color: #feffce;
		}
		.elementos{
			flex-flow: row wrap;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
		}
		
		picture > img {
			width: 50%; 
			height: 100%;
		}
	}

body {
	background-color: #e7ffba;
}

aside {
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

article {
	background-color: #5c860f;
	color:#3c5017;
	text-align: center;
	font-size: 30px;
	font-family: 'News Cycle', sans-serif;
	font-family: 'Patua One', cursive;
}

p {
	font-family: 'News Cycle', sans-serif;
	font-family: 'Patua One', cursive;
}

footer {
	background-color: #47660c;
    font-size: 18px;
	padding: 15px;
	margin: 15px;
}

img {
	width: 90%;
	height: 90%;
}

ul>li{
	list-style-type: none;
	font-family: 'News Cycle', sans-serif;
	font-family: 'Patua One', cursive;
}

aside>h1 {
	color: #ad0606;
	font-family: 'News Cycle', sans-serif;
	font-family: 'Patua One', cursive;
}

a>aside:hover{
	background-color: #ffffff;
}

footer>ul>li>a {
	text-decoration: none;
	color: #ffffff;
}
footer>ul>li>a:hover{
	background-color: #3c5017;
}

.pAside{
	color: #cd4040;
}

.p2{
	color: #ad0606;
}

.materia{
	background-color: #5c860f;
}

.box{
    width:100px;
    height:50px;
    background-color:#666;
    border-radius: 10px;
    background-color: #47660c;
    font-size: 40px;
    margin:2%;
    margin-left: 4%;
 }

 #h1estilo {
	text-align: center;
	color: #cd4040;
	font-size: 25px;
	font-family: 'News Cycle', sans-serif;
	font-family: 'Patua One', cursive;
}
